[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = RC-14
	email = 61058098+RC-14@users.noreply.github.com
[init]
	defaultBranch = main
